html,
body,
main {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
}

#app {
  /* background-color: rgba(0, 0, 0, 0.247); */
  color: aliceblue;
  font-family: 'Segoe UI';
  height: calc(100%);
  max-height: 100%;
  background-color: var(--vt-c-black-mute);
}

input,
textarea,
button,
select {
  border-radius: 6px;
  margin-bottom: 12px;
  border: none;
}

input::placeholder {
  color: aliceblue;
}

select {
  width: 400px;
}

select option {
  margin: 12px;
  font-size: 18px;
}

button {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}

input,
select,
textarea {
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  resize: none;
}

div {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Estilos da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
  /* Largura da barra de rolagem */
  transition: 0.2s;
  cursor: pointer;
}

/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
  /* Bordas arredondadas */
}

/* Cor do indicador (thumb) da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #050827;
  border-radius: 5px;
  /* Bordas arredondadas */
}

/* Estilo quando o indicador (thumb) é clicado */
::-webkit-scrollbar-thumb:hover {
  background-color: #151735;
}

:root {

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  --bg--dark-color2: rgb(30, 30, 30);
  --bg--dark-color: #180324;
  --bg-shadow-color: rgba(0, 0, 0, 0.699);
  --bg-light-shadow-color: rgba(209, 220, 255, 0.336);
  --bg-light-shadow-color2: rgba(18, 17, 29, 0.877);
  --bg-dark-shadow-color: rgba(7, 7, 27, 0.938);
  --bg-dark-shadow-color2: rgba(0, 0, 0, 0.582);
  --bgc-dark-shadow-purple: rgba(14, 0, 20, 0.918);
  --bgc-default-blue: #1a1930;
  --bgc-default-purple: #6800bd;
  --bgc-default-dark-purple: #29004b;
  --bgc-default-dark-purple2: rgba(14, 0, 20, 0.932);
  --bgc-default-blue-hover: #003663;
  --bgc-default-blue2: #22213f;
  --bgc-default-blue3: #486899;
  --bgc-default-white: aliceblue;
  --border--solid--grey: #7e7e7eaf;
}

.closeButton {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 1;
  height: 50px;
  width: 50px;
  transition: 0.2s;
  cursor: pointer;
}

.closeButton:hover {
  filter: brightness(1.3);
}

.closeButton img {
  width: 100%;
}

.selectionLabel,
.selectionButton {
  background-color: var(--bgc-default-blue3);
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  height: 40px;
  color: aliceblue;
  font-weight: 600;
}

.selectionLabel {
  height: 28px;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marRight12 {
  margin-right: 12px;
}

.marLeftt12 {
  margin-left: 12px;
}

.selectionLabel:hover,
.selectionButton:hover {
  background-color: var(--bgc-default-blue-hover);
}

.itemDefaultBlue {
  background-color: var(--bgc-default-blue);
  border: 1px solid #5e5e5e86;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  transition: 0.2s;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: aliceblue;
}

.itemDefaultBlue:hover {
  background-color: var(--bgc-default-blue-hover);
}

.spanLabel {
  color: rgb(138, 138, 138);
  margin-right: 12px;
}

.spanText {
  color: aliceblue;
  margin-left: 12px;
}

.iCheckBox {
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Definir uma largura e altura personalizada */
  width: 20px;
  height: 20px;
  /* Estilizar a aparência do checkbox */
  border: 1px solid #ccc;
  background-color: #fff;
  /* Adicionar margem ou preenchimento conforme necessário */
  margin: 5px;
}

.iCheckBox:checked {
  /* Definir estilos quando o checkbox estiver marcado */
  background-color: #55ff88;
  /* Adicionar estilos visuais extras, como um ícone */
  content: "\2713";
  color: #fff;
  text-align: center;
  line-height: 20px;
}

.colorBtNull {
  background-color: var(--bg-light-shadow-color2);
}

.colorBtAz {
  background-color: rgb(55, 87, 156);
}

.colorBtVm {
  background-color: rgb(112, 30, 30);
}

.colorBtAm {
  background-color: rgb(107, 109, 0);
  color: rgb(227, 240, 49);
}

.fexJcAi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
}

.btDefaultBlue {
  background-color: var(--bgc-default-blue);
  color: aliceblue;
  border: 1px solid var(--border--solid--grey);
  cursor: pointer;
  transition: 0.2s;
}

.btDefaultBlue:hover {
  background-color: var(--bgc-default-blue-hover);
}

@media screen and (max-width: 720px) {
  * {
    font-size: 14px;
    font-family: 'Segoe UI';
  }

  input {
    padding: 8px;
  }
}